<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9c95a3">  <td>20/01/27 16:50:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test01Suscripcion.CloseChrome()[pri:0, instance:test.Test01Suscripcion@2436ea2f]">&lt;&lt;CloseChrome</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@6214844</td>   <td></td> </tr>
<tr bgcolor="9c95a3">  <td>20/01/27 16:49:37</td>   <td>-34627</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Test01Suscripcion.IngresoAmbiente()[pri:0, instance:test.Test01Suscripcion@2436ea2f]">&gt;&gt;IngresoAmbiente</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@6214844</td>   <td></td> </tr>
<tr bgcolor="9c95a3">  <td>20/01/27 16:50:10</td>   <td>-840</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Test01Suscripcion.IrHome(org.testng.ITestResult)[pri:0, instance:test.Test01Suscripcion@2436ea2f]">&lt;&lt;IrHome</td> 
<td>&nbsp;</td>  <td>main@6214844</td>   <td></td> </tr>
<tr bgcolor="9c95a3">  <td>20/01/27 16:49:45</td>   <td>-26249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test01Suscripcion.swahiliwomen()[pri:1, instance:test.Test01Suscripcion@2436ea2f]">swahiliwomen</td> 
  <td>main@6214844</td>   <td></td> </tr>
</table>
